httpx[http2]
websockets
xmltodict
fastapi

nonebot2[httpx,websockets,fastapi]

git+https://proxy.yangrucheng.top/github.com/YangRucheng/nonebot-adapter-wxmp.git@refs/pull/7/head#egg=nonebot-adapter-wxmp